<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.debug.core.launchConfigurationType">
<mapAttribute key="argument_map">
<mapEntry key="host" value="localhost"/>
<mapEntry key="port" value="9000"/>
</mapAttribute>
<stringAttribute key="connector_id" value="rhino.attaching.connector"/>
</launchConfiguration>
